a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}



#imag_link:hover{
	opacity: 90%;
}
a:hover {
	color:grey;
}
a:active{
	color:grey;
}

.reja{
	display: grid;
	font-family: 'Be Vietnam Pro', sans-serif;
	grid-template-columns: 18% 55%;
	grid-auto-rows: auto;
	grid-auto-flow: column;
	grid-column-gap: 3em;
	line-height: 1.7em;
}

.titulo{
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 20px;
}
.menu{
	grid-row-start: 2;
	margin: 0;
	line-height: 2.3em;
}

.menu ul {
	text-decoration: none;
}

.menu li {
	list-style-type: none;	
	text-decoration: none;
}
#fecha {
	display: none;
}

#element {
	line-height: 2em;
}
#veintiun{
	display: none;
	line-height: 2em;
}
#veintiun > li:not(:last-child) {
	padding-bottom: 15px;
}
#veinte{
	display: none;
	line-height: 2em;
}
#veinte > li:not(:last-child) {
	padding-bottom: 15px;
}
#diecinueve{
	display: none;
	line-height: 2em;
}
#diecinueve > li:not(:last-child) {
	padding-bottom: 15px;
}
#dieciocho{
	display: none;
	line-height: 2em;
}
#dieciocho > li:not(:last-child) {
	padding-bottom: 15px;
}
#diecisiete{
	display: none;
	line-height: 2em;
}
#diecisiete > li:not(:last-child) {
	padding-bottom: 15px;
}

.contenido{
	text-indent: 3em;
	grid-row-start: 2;
	text-align: justify;
	line-height: 2em;
}
.contenido ul{
	list-style: none;
	font-weight: 900;
}

.footer{
	padding-top: 40%;
	grid-row-start: 3;
	font-size: 0.8em;
}
.li{
	margin-bottom: 5%;
}
h1 {
	font-size: 1.3em;
	padding-bottom: 0.1em;
}

h2 {
	font-size: 1em;
}

h3{
	font-size: 0.8em;
	font-weight: 100;
}

img {
    width: 100%;
    align-self: center;
    float: left;
	padding-bottom: 50px;
}

.profile_pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
	padding: 20px;
}

.grid-contacto {
	display: grid;
	grid-template-columns: 14% 55%;
	grid-row-gap: 2.5em;
  }
  
.fotografia-contacto {
	grid-column: 1;
  }
  
.link-contacto {
	grid-column: 2;
  }